# Database Credentials
DB_USER=your_db_user
DB_PASSWORD=your_secure_password
DB_NAME=your_db_name

# Spring Application Profile
SPRING_PROFILES_ACTIVE=docker

# External API Tokens
NOTION_TOKEN=notion_token
GITHUB_TOKEN=github_token
